html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color: rgb(243, 244, 244);
}
img {
    image-orientation: from-image;
}
.overflow-hidden {
    overflow: hidden;
}
.navigation-menu {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 0.4em; */
    /* background-color: rgba(11, 127, 216, 0.523); */
    /* background-color: rgb(161, 207, 217); */
    background-color: rgb(86, 165, 172);
}
.navigation-cog-header-container {
    display: flex;
    margin-right: 0.5em;
}
.cog-image {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
}
.navigation-header {
    color: white;
    /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-stretch: condensed;
    /* font-size: 2em; */
    margin: 0;
    align-self: center;
}
.navigation-anchors-container {
    display: flex;
}
.navigation-anchor-container {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    border-color: transparent;
    box-sizing: border-box;
    /* padding: 0.4em; */
    margin: 0.3em 0.3em;
    width: 6.3em;
    /* height: 2.5em; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-family: "Century Gothic";
    font-size: 0.9em;
    background-color: rgb(243, 244, 244);
    text-decoration: none;
    color: black;
}
.navigation-anchor {
    text-decoration: none;
    color: black;
}
.nav-anchor :hover {
    
}
.resume {
    /* border-style: groove; */
}
.projects {
    /* border-style: double;
    border-color: white; */
}
/* .projects :hover{
    transition: border-left-color 1ms, border-left-style 1s, border-top-color 500ms 1s, border-right-color 500ms 1.5s, border-bottom-color 500ms 2s;
    border-left-style: solid;
    border-left-color: purple;
    border-top-color: yellow;
    border-right-color: red;
    border-bottom-color: blue;
    padding: 0.4em .9em;
    background-color: rgb(187, 182, 182);
    border-color: rgb(140, 138, 138);
} */
.main-body-container {
    /* height: 100%;
    width: 100%; */
    min-height: 100%;
    box-sizing: border-box;
    /* padding-top: 4em; */
    /* padding: 0 1em; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.profile-picture-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}
.profile-picture {
    object-fit: contain;
    width: 10em;
    height: 10em;
}
.name-header {
    margin: 0;
    text-align: center;
    color: rgb(102, 100, 100); 
    padding: 0.25em 0 0 0;
    /* margin: 0.25em 0 0 0; */
    /* color: rgb(99, 126, 167) */
}
.developer-header {
    /* color: #A9A9A9; */
    color: rgb(99, 126, 167);
    font-style: oblique;
    font-weight: lighter;
    margin: 0 0 0.5em 0;
    /* padding-left: 1.5em; */
    text-align: center;
}
.about-me-container {
    padding: 4em 1em 0 1em;
}
.about-me-paragraph {
    margin-bottom: 0;
}
#project-section {
    height: 3em;
}
.projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}
.projects-header-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.projects-header {
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    width: 7em;
    border-radius: 7px;
    border-bottom-style: solid;
    text-align: center;
    color: rgb(243, 244, 244);
    background-color: rgb(86, 165, 172);
}
.projects-header-line {
    width: 50%;
    height: 1em;
    border-bottom-style: solid;
    color: rgb(86, 165, 172);
}
.projects-container {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    width: 100%;
    flex-direction: column;
    /* align-content: space-around;
    justify-content: space-around; */
}
.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    margin-top: 0;
}
.project-header {
    margin-top: 0;
}
.project-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
.project-image {
    width: 100%;
    cursor: pointer;
    /* height: 80%; */
}
.technologies-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5em 0;
}
.technologies-header-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.technologies-header {
    margin: 0;
    /* margin-bottom: 0.5em; */
    padding-bottom: 0.2em;
    width: 28em;
    border-radius: 7px;
    border-bottom-style: solid;
    text-align: center;
    color: rgb(243, 244, 244);
    background-color: rgb(86, 165, 172);
}
.technologies-header-line {
    width: 50%;
    /* height: 1em; */
    border-bottom-style: solid;
    color: rgb(86, 165, 172);
    align-self: center;
}
.technology-item {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.technology-icon {
    width: 2em;
    height: 2em;
}
.project-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(184, 181, 181, 0.5); */
    background-color: rgba(118, 118, 118, 0.75);
}
.project-modal-container {
    position: fixed;
    top: 3.5%;
    left: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 93%;
    background-color: rgb(243, 244, 244);
}
.project-modal-close-button {
    align-self: flex-end;
    margin-top: 0.3em;
    margin-right: 0.3em;
    border-style: none;
    background-color: rgb(243, 244, 244);
    font-size: 1em;
}
.project-item-modal {
    background-color: rgb(243, 244, 244);
    width: 100%;
    height: 100%;
    /* padding: 1em; */
    padding-top: 0;
    overflow-y: auto;
    box-sizing: border-box;
}
.project-header-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.project-header-modal {
    /* text-align: center;
    margin: 0;
    margin-bottom: 0.5em; */
    margin: 0;
    /* margin-bottom: 0.5em; */
    padding-bottom: 0.2em;
    width: 22em;
    border-radius: 7px;
    border-bottom-style: solid;
    text-align: center;
    color: rgb(243, 244, 244);
    background-color: rgb(86, 165, 172);
}
.project-header-line{
    width: 50%;
    /* height: 1em; */
    border-bottom-style: solid;
    color: rgb(86, 165, 172);
    align-self: center;
}
.project-image-information-container-modal {
    margin: 1em;
}
.project-image-modal {
    width: 100%;
    /* margin: 1em; */
}
.url-container-modal {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}
.project-description-modal {
    margin: 0.5em 0;
}
.project-technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-technologies-header {
    margin: 0;
    text-align: center;
}
.technology-item-project {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.technology-icon-project {
    height: 2em;
    width: 2em;
}
.technology-caption-project {
    margin: 0;
    margin-top: 0.5em;
    /* max-width: 7em; */
    text-align: center; 
}
.garden-photos-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 181, 181, 0.5);
}
.garden-photos-modal {
    background-color: rgb(243, 244, 244);
    display: flex;
    flex-direction: column;
    width: 90%;
}
.garden-photo-navigation-container {
    display: flex;
    justify-content: space-around;
}
.garden-photos-header-container {
    display: flex;
}
.garden-photos-header {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.2em;
    flex: 8;
    width: 25em;
    border-radius: 7px;
    border-bottom-style: solid;
    text-align: center;
    color: rgb(243, 244, 244);
    background-color: rgb(86, 165, 172);
}
.garden-photos-header-line {
    width: 100%;
    height: 0.9em;
    flex: 1;
    border-bottom-style: solid;
    color: rgb(86, 165, 172);
}
.garden-photos-modal-close-button {
    /* background-color: white; */
    /* width: 2em;
    height: 2em; */
    align-self: flex-end;
    margin-top: 0.5em;
    margin-right: 0.5em;
    background-color: transparent;
    border-style: none;
    font-size: 1em;
    padding: 0;
}
.garden-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.garden-photo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    align-self: center;
}
.garden-photo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.garden-photo-caption {
    text-align: center;
    background-color: rgb(243, 244, 244);
    width: 10em;
    align-self: center;
}
.next-image {
    /* height: 2em; */
    align-self: center;
    background-color: transparent;
    border-style: none;
    font-size: 2em;
    padding: 0;
}
.previous-image {
    /* height: 2em; */
    align-self: center;
    background-color: transparent;
    border-style: none;
    font-size: 2em;
    padding: 0;
}
.footer {
    width: 100%;
    /* margin-bottom: 0.4em; */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5em 0;
    border-top-style: solid;
    border-top-color: rgb(86, 165, 172);
}
.contact-information-container {

}
.contact-header-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.contact-header {
    position: relative;
    bottom: 28px;
    margin: 0;
    padding-bottom: 0.2em;
    /* width: 30em; */
    width: 12em;
    border-radius: 7px;
    /* border-bottom-style: solid; */
    text-align: center;
    color: rgb(243, 244, 244);
    background-color: rgb(86, 165, 172);
}
/* .contact-header-line {
    width: 50%;
    border-bottom-style: solid;
    color: rgb(86, 165, 172);
    align-self: center;
} */
.name-header-footer {
    margin: 0;
    text-align: center;
    color: rgb(102, 100, 100); 
    /* padding: 0.25em 0 0 0; */
}
.developer-header-footer {
    color: rgb(99, 126, 167);
    font-style: oblique;
    font-weight: lighter;
    margin: 0;
    text-align: center;
}
.icon-group-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    padding-left: 0.2em;
    margin-bottom: 1.5em;
    /* overflow-x: auto; */
}
.icon-container {
    width: 2em;
    height: 2em;
}
.contact-anchor-url {
    margin: 0.5em 0;
    font-size: 0.92em;
}
.github-anchor-container {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
}
.linkedin-anchor-container {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
    /* overflow-x: auto; */
}
.linkedin-icon path{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.email-container {
    display: flex;
}
.hidden {
    display: none;
}
.test-button {
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: white;
}

@media (min-width: 768px) {
    /* .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    } */
    /* .project-image {
        width: 70%;
    } */
    .navigation-menu {
        flex-direction: row;
        padding: 0.5em;
    }
    .navigation-anchors-container {
        margin-right: 1em;
    }
    /* .main-body-container {
        padding-top: 3em;
    } */
    .profile-picture {
        width: 15em;
        height: 15em;
    }
    #project-section {
        height: 2em;
    }
    .garden-photos-modal {
        width: 75%;
    }
    .garden-photos-header {
        flex: 2;
    }
    .garden-item-container {
        width: 80%;
    }
    .garden-photo-container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        align-self: center;
    }
    .garden-photo {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .technologies-header {
        width: 18em;
    }
    .technology-item {
        margin: 1em;    
    }
    .technology-icon {
        width: 3em;
        height: 3em;
    }
    .project-modal-container {
        left: 25%;
        width: 50%;
    }
    .icon-group-container {
        padding-left: 2em;
    }
    .contact-anchor-url {
        font-size: 1em;
    }
    /* .contact-header {
        width: 22em;
    } */
}

@media (min-width: 1024px) {
    /* .projects-header {
        width: 5em;
    } */
    .navigation-anchor-container {
        font-size: 1em;
        margin: 0.3em 0.3em;
    }
    .profile-picture-container {
        padding-top: 0.75em;
    }
    .garden-photos-modal {
        width: 50%;
    }
    .garden-item-container {
        width: 75%;
    }
    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .project-modal-container {
        /* left: 32.5%;
        width: 35%; */
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
    }
    .project-header-modal {
        font-size: 2em;
    }
    .project-image-information-container-modal {
        display: flex;
    }
    .project-image-modal {
        width: 50%;
        padding: 0 1em;
    }
    .project-information-container-modal {
        width: 50%;
    }
    /* .technology-icon {
        width: 3em;
        height: 3em;
    } */
}